<div id="container">
    <div id="left">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee name:</span>
            </div>
            <input type="text" value="Jon Doe" class="form-control" #name />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee email:</span>
            </div>
            <input type="text" value="jon.doe@example.com" class="form-control" #email />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee hire date:</span>
            </div>
            <input type="text" value="2020-20-20" class="form-control" #hireDate />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee salary:</span>
            </div>
            <input type="text" value="20" class="form-control" #salary />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee job title:</span>
            </div>
            <input type="text" value="Manager" class="form-control" #jobTitle />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee project id:</span>
            </div>
            <input type="text" value="" class="form-control" #projectId />
        </div>


        <label> <button type="button" class="btn btn-primary" (click)="add(
                name.value,
                email.value,
                hireDate.value,
                salary.value,
                jobTitle.value,
                projectId.value
                )"> Add Employee </button> </label>
    </div>

    <div id="right" *ngIf="selectedEmployee">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee name:</span>
            </div>
            <input type="text" [value]="selectedEmployee.name" class="form-control" #name />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee email:</span>
            </div>
            <input type="text" [value]="selectedEmployee.email" class="form-control" #email />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee hire date:</span>
            </div>
            <input type="text" [value]="selectedEmployee.hire_date" class="form-control" #hireDate />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee salary:</span>
            </div>
            <input type="text" [value]="selectedEmployee.salary" class="form-control" #salary />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee job title:</span>
            </div>
            <input type="text" [value]="selectedEmployee.job_title" class="form-control" #jobTitle />
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Employee project id:</span>
            </div>
            <input type="text" [value]="selectedEmployee.project_id" class="form-control" #projectId />
        </div>

        <label> <button type="button" class="btn btn-primary" (click)="edit(
                selectedEmployee.id,
                name.value,
                email.value,
                hireDate.value,
                salary.value,
                jobTitle.value,
                projectId.value
                ); selectedEmployee=null"> Edit Employee </button> </label>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Hire Date</th>
        <th scope="col">Salary</th>
        <th scope="col">Job Title</th>
        <th scope="col">Project ID</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of employees; index as i">
            <th scope="row"> {{ i + 1 }} </th>
            <td> {{ employee.id }} </td>
            <td> {{ employee.name }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.hire_date | date }} </td>
            <td> {{ employee.salary | currency }} </td>
            <td> {{ employee.job_title }} </td>
            <td> {{ employee.project_id }} </td>
            <td> <button type="button"
                         class="btn btn-primary"
                         title="edit employee"
                         (click)="selectEmployeeToEdit(employee)">
                    edit 
                </button>
            </td>
            <td> <button class="btn btn-primary"
                         title="delete employee"
                         (click)="delete(employee)">
                    delete 
                </button>
            </td>
        </tr>
    </tbody>
</table>
